@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  font-family: "DM Sans"
}

li {
  color: color(display-p3 0 0 0);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding-left: 34px;
  padding-right: 34px;
  margin-left: 40px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
  height: 10%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.umbrella {
  animation: rotate 6s linear infinite;
  transform-origin: center;
  z-index: 10;
  top: 0px;
  left: 0px;
}

.island {
  position: absolute;
  z-index: 0;
  transition: opacity 1s ease-in-out;
}

.hide {
  opacity: 0;
}